# =========================
# LLM / API CONFIGURATION
# =========================

OPENROUTER_API_KEY=your_openrouter_api_key_here
HF_TOKEN=your_huggingface_token_here

# =========================
# APPLICATION CONFIG
# =========================

APP_HOST=0.0.0.0
APP_PORT=8000
CHROMA_DB_PATH=./chroma_db
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2
VLM_MODEL_NAME=llava-hf/llava-1.5-7b-hf
